
.home-container {
  font-family: 'Arial', sans-serif;
  color: #333;
}


.hero {
  background: linear-gradient(to right, #f6d365, #fda085);
  text-align: center;
  padding: 120px 20px;
  color: white;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #ff6b6b;
  color: white;
  padding: 12px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.cta-button:hover {
  background-color: #ff4757;
}


.features {
  text-align: center;
  padding: 80px 20px;
  background-color: #f9f9f9;
}

.features h2 {
  margin-bottom: 50px;
  font-size: 2rem;
}

.features-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.feature-card {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 12px 4px 12px solid rgba(0,0,0,0.1);
}

.feature-card h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}


.menu-preview {
  padding: 80px 20px;
  text-align: center;
}

.menu-preview h2 {
  margin-bottom: 40px;
  font-size: 2rem;
}

.menu-items {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.menu-item {
  border-radius: 10px;
  overflow: hidden;
  width: 220px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.menu-item:hover {
  transform: translateY(-5px);
  box-shadow:0px 1px 12px #000000;
}

.menu-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.menu-item h4 {
  margin: 10px 0 5px;
  font-size: 1.1rem;
}

.menu-item p {
  margin-bottom: 10px;
  font-weight: bold;
}
