.menu-container {
  padding: 50px 6%;
  background-color: #fafafa;
}

.menu-title {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 40px;
  text-align: center;
  left:50%;
}

.menu-items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 28px;
}

.menu-card {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 14px;
  padding: 22px;
}
